attrs==23.1.0
autopep8==2.0.4
aws-cdk-lib==2.130.0
constructs>=10.0.0,<11.0.0
cattrs==23.1.2
cdk-nag==2.27.209
importlib-resources==6.1.1
publication==0.0.3
pycodestyle==2.11.1
python-dateutil==2.8.2
six==1.16.0
typeguard==2.13.3
typing_extensions==4.8.0
